<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>744633819126-mb66hth0ogh9abjds94rc3hg1rqcocr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.744633819126-mb66hth0ogh9abjds94rc3hg1rqcocr7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>744633819126-14uas3puosfjlbslnro7kvik3p8ntj6r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDvI5826GSi4y-onXqcZTd0PqjRR4e2ilY</string>
	<key>GCM_SENDER_ID</key>
	<string>744633819126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bizApp</string>
	<key>PROJECT_ID</key>
	<string>keyboard-arena</string>
	<key>STORAGE_BUCKET</key>
	<string>keyboard-arena.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:744633819126:ios:50eced8a9516ed9c44f1d7</string>
</dict>
</plist>
